html {
  height: 100%;
  width: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: lightpink;
  font-size: 3rem;
  font-family: 'Great Vibes', cursive;

}
.text-center {
    text-align: center;
}
.gallery {
    width: 400px;
    height: auto;
}
.pink-background {
    background-color: lightpink;
}
.text-uppercase {
    text-transform: uppercase;
}